* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 15px;
  font-family: "Hind", sans-serif;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.container-xl,
.container-lg,
.container-sm,
.container,
.container-md {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* header */
header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
}
.logo i {
  color: #35a22c;
  font-size: 3rem;
  margin-right: 0.4rem;
}
.logo span {
  font-size: 2.4rem;
}
.menu li {
  position: relative;
  margin: 0 10px;
  font-size: 1rem;
}
.menu li a {
  color: white;
}
.menu li::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #35a22c;
  transition: all 0.5s;
}
.menu li.active::after {
  width: 100%;
}
.menu li.active .nav-link {
  color: #35a22c;
}
.menu li .nav-link:hover {
  color: #35a22c;
}
.menu li:hover::after {
  width: 100%;
}
header .navbar-toggler {
  background-color: #35a22c;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: #35a22c;
}
/* Carousel  */
.carousel-item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}
.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}
.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
}
.carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-caption h3 {
  font-size: 3.5rem;
}
.carousel-caption p {
  font-size: 1.6rem;
}
.carousel-inner .carousel-item .carousel__thumb {
  width: 100px;
  margin: auto;
}
.carousel-item .carousel__thumb img {
  width: 100%;
  border-radius: 100%;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.carousel-indicators .active {
  background-color: #35a22c;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
/* Carousel end */
/* Project */
.project__title {
  max-width: 750px;
}
.project__title h2 {
  color: #1a1d2d;
}
.project__title p {
  font-size: 1rem;
  color: #585858;
  line-height: 24px;
}
.nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}
.project__item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
  cursor: pointer;
  border: none;
}
.project__item .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}
.project__item:hover .card-body {
  border-color: #35a22c;
  border-top-color: transparent;
}
.project__item:hover .card-title {
  color: #35a22c;
}
/* Project end*/
/* Feature */
.feature {
  background-image: url(../image/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 120px;
  position: relative;
}
.feature .feature__title {
  position: relative;
  max-width: 750px;
}
.feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  color: white;
}
.feature__item i {
  font-size: 3rem;
  color: #35a22c;
}
.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}
.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feature__item:hover {
  border-color: #fff;
  background: black;
}
.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}
/* Feature end*/
/* Award */
.award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.award__left h2 {
  color: #1a1d2d;
}
.award__right {
  padding: 45px 0;
}
.award__right p {
  font-size: 1.04rem;
}
/* Award end*/
/* Footer */
.footer {
  background-color: #222;
}
.footer a {
  color: #aaa;
}
.footer p {
  color: #aaa;
}
.footer__top {
  padding-bottom: 2rem;
  border-bottom: 1px solid #454545;
}
.footer__top i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.footer__top a {
  margin-right: 10px;
}
.footer__top a:hover {
  color: #35a22c;
  border-color: #35a22c;
}
.footer__top i:hover {
  border-color: #35a22c;
}
.footer__bottom {
  padding-top: 2rem;
}
/* Footer end */
@media screen and (max-width: 991.89px) {
  header .navbar-collapse {
    background-color: #fff;
  }
  #collapsibleNavbar .navbar-nav .nav-link {
    color: #35a22c;
  }
  #collapsibleNavbar .nav-item {
    margin: 0;
    padding: 0 10px;
    transition: all 0.5s;
  }
  #collapsibleNavbar .nav-item:hover {
    background-color: #35a22c;
  }
  #collapsibleNavbar .nav-item:hover .nav-link {
    color: #fff;
  }
  #collapsibleNavbar .nav-item.active::after,
  #collapsibleNavbar .nav-item:hover::after {
    width: 0;
  }
}
@media screen and (max-height: 415px) {
  .myCarousel .carousel-caption h3 {
    font-size: 5vw;
    line-height: 5vw;
  }
  .myCarousel .carousel-caption p {
    font-size: 3vw;
    line-height: 3vw;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media screen and (max-width: 576px) {
  .award__bg {
    background-size: cover;
  }
  .project__content .nav .nav-item {
    margin-bottom: 1rem;
  }
}
